<%= form_for @textbook do |form| %>
    
    <% if @textbook.errors.any? %>
    <div class="alert alert-danger errors">
        <h3> <%= pluralize(@textbook.errors.count,"error") %> prevented this textbook from saving </h3>
            <ul>
                <% @textbook.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
    </div>
<% end %>
    
    <div class = "form-group">
        <%= form.label:name %>
        <%= form.text_field :name, class:"form-control" %>
    </div>

    <div class = "form-group">
        <%= form.label:course %>
        <%= form.text_field :course, class:"form-control" %>
    </div>
    
    <div class = "form-group">
        <%= form.label:instructor %>
        <%= form.text_field :instructor, class:"form-control" %>
    </div>
    
    <div class = "form-group">
        <%= form.label:price %>
        <%= form.text_field :price, class:"form-control" %>
    </div>
    
    <div class = "form-group">
        <%= form.label:description %>
        <%= form.text_area :description, class: "form-control" %>
    </div>
    
    <div class = "actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    
<% end %>

    