<div class ="textbooks">   
    <h1>Textbooks:</h1>
    <p><%= @textbook.name %></p></br>
    
    <h2>Course:</h2>
    <p><%=  @textbook.course %></p></br>
    
    <h2>Instructor:</h2>
    <p><%=  @textbook.instructor %></p></br>
    
    <h2>Price:</h2>
    <p><%=  @textbook.price %></p></br>
    
    <h2>Description:</h2>
    <p><%=  @textbook.description %></p></br></br>
    
    <div>
        <p class = "comments">
            <h3>There are <%= @textbook.comments.count %> Comments</h3>
                <%= render @textbook.comments %></br>
            <h3> Add comments: </h3>
                <%= render 'comments/form' %>
        </p>
    </div>
</div>