
<%= form_for ([@textbook,@textbook.comments.build]) do |f| %>


    <p>
        <%= f.label :commenters %><br>
        <%= f.text_field :commenters, :maxlength=>"20",autofocus: true, placeholder: "name", :required => 'required' %>
    </p>
  
    <p>
        <%= f.label :body %><br> 
        <%= f.text_area :body, :size =>"35x7",autofocus: true, placeholder: "message", :required => 'required' %>
    </p>    
    <br>
    <p>
        <%= f.submit %>
    </p>

<% end %>


