<div class="title-container">
    <h1>Textbooks for Sale</h1>
</div>

<div class="textbooks">
    <% @textbooks.each do|textbook| %>
    <div class="textbook">
        <div class="thumbnail">
            <div class="caption">
                <h3><%= textbook.name%><%= "  $" %><%= textbook.price %></h3>
                <p><%= textbook.course%><%= "  " %><%= textbook.instructor %></p>
                <p><%= textbook.description %></p>
                <p align="right">
                  <button><a href="/comment.html">Comment</a></button>
                </p>
            </div>
        </div>
    </div>
<% end %>
</div>