<div class="title-container">
    <h1>Textbooks for Sale</h1>
</div>

<div class="textbooks">
    <% @textbooks.each do|textbook| %>
    <div class="textbook">
        <div class="thumbnail">
            <div class="caption">
                <h3><%= 'Book name:'%><%= link_to textbook.name, textbook_path(textbook)%><%= "  " %><%= "Price:" %><%= "  $" %><%= textbook.price %></h3>
                <p><%= "Course:" %><%= textbook.course%><%= "  " %><%= "Instructor:" %><%= textbook.instructor %></p>
                <p><%= "Description:" %><%= textbook.description %></p>
                  <h2><%= textbook.comments.count %>Comments</h2>
                  <%= render textbook.comments %>
                  <h3> Add comments: </h3>
                  <%= render 'comments/form' %>

             
            </div>
            
        </div>
    </div>
<% end %>
</div>